
header
{
    background-color: white;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
}
*
{
    color:#b92fb5;
}
a
{
    text-decoration: none;
}
ul 
{
    list-style: none;
}
header .logo .logo-img img
{
    width: 20%;
    height: 160px;
    float: left;
    
}
header .logo .logo-text
{
float: left;
width: 40%;
font-size: 25px;
margin-top: 2%;
margin-right: 2%;
}

header .logo .logo-text span
{
    padding-left: 5px;
    font-size: 15px;
 
}
header .logo .nav 
{
    float: right;
    width: 30%;
    height: 160px;
}
header .logo .nav .nav-sdt-gmail
{
margin-left : 5px;
margin-top: 1%;

    
}
header .logo .nav .search
{
    margin-left: 5px;
   margin-top: 0px;
   margin-right: 0px;
    
}
header .logo .search1
{
    
    float: right;
    font-size: 20px;
   display: none;
    
}
/* MENU */
.menu
{
    width: 100%;
    height: 50px;
    background-color: #b92fb5;
    margin-top: 0px;

}
.menu  .bars1
{
font-size: 50px;
margin-right: 10px;
display: none;
}
.menu ul
{
    list-style: none;
    margin-left: 100px;
}
.menu ul li
{
  float: left;
  padding-right: 50px;
  padding-top: 15px;
  color: white;
  height: 50px;
  position: relative;
  border-left: 1px seashell;

}
.menu ul li:hover
{
    background :#970194 ;
}
.menu ul li a
{
    color: white;
    text-decoration: none; 
}
.menu ul li ul
{
position: absolute;
padding: 16px;
left: -115px;
width: 300px;
}
.menu ul li ul li
{
    float: none;
    display: none;
 
}

.menu ul li:hover ul li
{
    display: block;
    background-color: #b009ac;
    direction: 10s;
    
}
.menu ul li ul li:hover
{
    background: #b009ac;
}
/* content */
.content{
    width: 100%;
    margin: 30px auto 30px;
    margin-top: 0px;
    height: 1800px;
   
  
}
.content .main-content
{
    width: 69%;
    float: left;

}
.content .sidebar
{
    width: 30%;
    float: left;
 
    height: 300px;
}
.content .main-content .recent-post-title
{
    margin: 20px;
}
.content .main-content .post
{
    width: 90%;
    height: 270px;
    margin: 10px auto;
    border-radius: 5px;
    background: white;
    position: relative;
    border-top: 1px solid black;  
}
.content .main-content .post .read-more
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgb(162, 70, 180);
    background: transparent;
    border-radius: 0px;
    color: #b92fb5 !important;
}

.content .main-content .post-preview
{
    width: 50%;
    margin: 10px;
    margin-top: -20px;
    float: right;
    border-radius: 10px;
  
}
.content a:hover
{
    color: #970194;
 
}
.btn
{
    border:1px solid transparent;
    background: #b92fb5;
    color: white;
    padding: .5rem 1rem;
    border-radius: .25rem;
}
.content .sidebar .section
{
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.content .sidebar .section.search
{
    margin-top: 80px;
}
.content .sidebar .section.section-title
{
    margin: 10px 0px 10px 0px;
    margin-left: 10PX;
}

.content .sidebar .section .topics ul
    {
        margin: 0px;
        padding: 0px;
        list-style: none;
        border-top: 1px solid #b92fb5;;  
    }
.content .sidebar .section.topics ul li a
    {
        display: block;
        padding: 15px 0px 15px 0px;
        border-bottom: 1px solid #b92fb5;;  
    }
.content .sidebar .section.topics ul li a:hover
    {
        padding-left: 20px;
        transition: all 0.3s;
    }
.next
{
    width: 100%;
    height: 50px;
    margin-left: 1300px;
}
.next ul
{
    float: left;
    
}
.next ul li
{
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid ;
    color:  #b92fb5;
}
.next ul li a
{
    padding-left: 15px ;
padding-top: 30px;
   
}
.next ul li:hover
{
    background:  #b92fb5;
    color: white ;
}
.footer
{
       
        background: #b92fb5;
        color: white;
        height: 300px;
        position: relative;
        margin-bottom:0px;
        padding: 0px;  
        width: 100%;
}
.footer .footer-right
{
    width: 33%;
    height: 300px;
    background: #b92fb5;;
    float: left;
    color: white;

}
.footer .footer-right h2
{
    color: white;
    margin-left: 50px;
}
.footer .footer-right ul li i
{
    color: white;
    padding-top: 20px;
}
.footer .footer-mid
{
    float: left;
width: 42%;
height: 300px;
background: #b92fb5;
color: white;
}
.footer .footer-mid img
{
    width: 70%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 50px;
    margin-left: 90px;
    color:  #b92fb5;
}
.footer .footer-left
{
    float: left;
    background: #b92fb5;
    width: 25%;
    height: 300px;
}
.footer .footer-left ul li i
{
    color: white;
    padding-top: 10px;
}
.footer .footer-left ul li i a
{
    color: white;
    text-decoration: none;
}
.footer .footer-left h2
{
    color: white;
}
.footer .footer-footer
{
    background: #800040;
    height: 350px;
    width: 100%;
}
.footer .footer-footer h1
{
margin-left: 540px;
color: white;
}
.diendan
{
    margin-top: 50px;
    width: 90%;
    height: 800px;
}
.diendan h3
{
    color: white    ;
    background: #b009ac;
    border: 1px solid violet;
    height: 40px;
  padding-top: 5px;
}
.diendan ul li
{
    border-bottom: 1px solid #b009ac;
    height: 30px;
}
.diendan ul li a
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 5px;
}
@media only screen and (max-width: 1300px)
{
header
{
    width: 100%;
    height: 100px;
}
header .logo .nav .nav-sdt-gmail
{
        display: none;
}
header .logo .nav .search
{
        
    display: none;
}
header .logo .logo-text
{   
float: left;
width: 70%;
font-size: 15px;
margin-top: 30px;
margin-right: 10px;

}
header .logo .logo-text span
{
   font-size: 10px;
   padding-left: 10px;

}
header .logo .logo-img img
{
    width: 25%;
    height: 100px;
    background-color: #3366ff;  
    text-decoration: none; 
}
.menu
{
    margin-top: 5px;
    width: 100%;
    height: 200px;
}
.menu ul
{
    list-style: none;
    margin-left: -20px;
}
.menu ul li
{
  float: none;
  padding-right: -10px;
  padding-top: 5px;
  color: white;
  height:auto;
}
.menu ul li:hover
{
    background :#3366ff ;
}
.menu ul li a
{
    color: white;
    text-decoration: none; 
    font-size: 70%;
}
.menu ul li ul
{

padding: 16px;
left: -25px;
width: 300px;
}
.menu ul li ul li
{
    float: none;
    display: none;
 
}

.menu ul li:hover ul li
{
    display: block;
    background-color: #072a91;
    
}
.menu ul li ul li:hover
{
    background: #3366ff;
}
/*  */
.content-trangchu
{
    width: 100%;
    height: 1300px;
}
.content-trangchu .title1
{
margin-left: 45%;
}
.content-trangchu .post1
{
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    height: 400px;
    float: none;
}
.content-trangchu .post1 img
{

    width: 100%;
    height: 250px;
    padding-right: 10px;
}
.content-trangchu .post1 h4 a
{
    color: #b92fb5;
    text-decoration: none;
}
.content-trangchu .post1 h4 a:hover
{
    color: #970194;
}
.content2
{
    width: 100%;
    height: 30%;
    background: #970194;
}
.content2 img
{
    margin:20px 10px 20px 50px;
    width: 80%;
    float: none;
}
.content3
{
    width: 100%;
    height: 1300px;
} 
.content3 h1
{
    margin-left: 100px;
}
.content3 .post3 
{
    width: 80%;
    float: left;
    margin-left: 30px;
}
.content3 .post4
{
  
float: right;
width: 20%;
height: 200px;
display: none;
}
.content3 .post3 .post-daotao
{
    width: 100%;
    height: 400px;
    float: none;
    padding-left: 10px;
    margin-right: 100px;
}
.content3 .post3 .post-daotao img
{
    width: 100%;
    height: 300px;
}
.content3 .post4 ul li
{
    list-style: circle;
    padding-top: 20px;
    border-bottom: 1px solid black;
}
.content3 .post4 ul li a
{
    color: darkorchid;
    text-decoration: none;

}
.content3 .post4 ul li a:hover
{
    color: darkviolet;
}
.content3 .post4 .xemtatca
{
    margin-top: 100px;
    margin-left: 200px;
}
/* footer */
.footer
{
       
        background: #b92fb5;
        color: white;
        height: 800px;
        position: relative;
        margin-bottom:0px;
        padding: 0px;  
        width: 100%;
}
.footer .footer-right
{
    width: 100%;
    height: 300px;
    background: #b92fb5;;
    float: none;
    color: white;
    border-bottom: 5px solid #970194;

}
.footer .footer-right h2
{
    color: white;
    margin-left: 5px;
}
.footer .footer-right ul li i
{
    font-size: 14px;
    margin-left: -30px;
    color: white;
    padding-top: 20px;
}
.footer .footer-mid
{
    float: none;
width: 100%;
height: 300px;
background: #b92fb5;
color: white;
border-bottom: 5px solid #970194;
}
.footer .footer-mid img
{
    width: 80%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 3%;
    margin-left: 10%;
    height: 80%;
    color:  #b92fb5;
}
.footer .footer-left
{
    float: none;
    background: #b92fb5;
    width: 100%;
    height: 200px;
}
.footer .footer-left ul li i
{
    color: white;
    padding-top: 10px;
}
.footer .footer-left ul li i a
{
    color: white;
    text-decoration: none;
}
.footer .footer-left h2
{

    color: white;
}
.footer .footer-footer
{
    background: #800040;
    height: 50px;
    width: 100%;
}
.footer .footer-footer h1
{
font-size: 25px;
margin-left: 4%;
color: white;
}
}
